<main class="main">
  <header>
    <span class="session_span"><%= t('.session')%></span>
    <span class="right_session_span"><%= t('.signup') %></span>
  </header>
  <hr>
  <div class="grid">
    <section class="sign_in_img">
      <%= image_tag 'sign_in_img.png'%>
    </section>
    <aside class="aside_signup">
      <h1> <%= t('.enter')%> </h1>
      <%= render 'form' %>
    </aside>
  </div>
</main>